body {
    background-color: lavender;
}



p {
    color: lightslategray 
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightcyan;
    color: darkslategray;
    text-indent: 2in;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}

#first-paragraph {
    color: floralwhite;
}

.box1 {
    border: 5px solid dimgray
}

.box1 {
    text-indent: 1in;
    margin-top: 0.2in;
}